.wrapper {
  padding-top: rem(80px);
  padding-bottom: rem(50px);
}

.item {
  display: flex;
}

.itemIcon {
  padding: var(--mantine-spacing-xs);
  margin-right: var(--mantine-spacing-md);
}

.itemTitle {
  margin-bottom: calc(var(--mantine-spacing-xs) / 2);
}

.title {
  line-height: 1;
  text-align: center;
  margin-top: var(--mantine-spacing-xl);
}

.highlight {
  background-color: var(--mantine-color-blue-light);
  padding: rem(5px);
  padding-top: 0;
  border-radius: var(--mantine-radius-sm);
  display: inline-block;
  color: light-dark(inherit, var(--mantine-color-white));
}
