.wrapper {
  padding: calc(var(--mantine-spacing-xl) * 2);
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-8)
  );
  border: rem(1px) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-8));

  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column-reverse;
    padding: var(--mantine-spacing-xl);
  }
}

.image {
  max-width: 40%;

  @media (max-width: $mantine-breakpoint-sm) {
    max-width: 100%;
  }
}

.inputWrapper {
  flex: 1;
}

.highlight {
  position: relative;
  background-color: var(--mantine-color-blue-light);
  border-radius: var(--mantine-radius-sm);
  padding: rem(4px) rem(8px);
  margin: rem(4px);
}
