.main {
  min-height: 100vh;
  height: 100%;
  display: grid;
  grid-template-areas:
    "header"
    "hero"
    "product"
    "footer";
  grid-template-rows: auto 1fr 1fr auto;
  grid-template-columns: 100%;
}
