.header {
  height: rem(60px);
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  border-bottom: rem(1px) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.brand {
  font-weight: 700;
  font-size: var(--mantine-font-size-xl);
  font-family: var(--mantine-font-family-headings);
}
